@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&display=swap');

/* #49SE57 rgb(73, 94, 87)*/
/* #F4CE14 rgb(244, 206, 20)*/


#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h1 {
  font-family: "Markazi Text", serif;
}


/* ===== Nav.js ===== */


.navigation {
  display: flex;
  align-items: center;
  max-width: 844px;
  width: 100%;
  padding-bottom: 50px;
}

.nav_links {
  width: 100%;
  padding: 0 5%;
}
.nav_links ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.nav_links li {
  font-weight: bold;
  list-style-type: none;
}

a:link {
  color: black;
}


/* ===== Header.js ===== */


header {
  background-color: rgb(73, 94, 87);
  display: flex;
  height: 440px;
  justify-content: center;
  width: 100%;
}

.headContainer {
  max-width: 844px;
  width: 100%;
  padding: 1.8rem 0;
  /* background-color: rgb(73, 94, 87);
  display: flex;
  height: 440px;
  justify-content: center; */
}

.headContainer .row {
  display: flex;
  justify-content: flex-start;
}

.headContainer .row .column {
  flex: 1;
}

.headContainer .row .column .title {
  font-family: "Markazi Text", serif;
  color: rgb(244, 206, 20);
}

.headContainer .row .column .title_2 {
  font-family: "Markazi Text", serif;
  color: white;
}

.headContainer .row .column p {
  /* grid-area: desc; */
  color: white;
  line-height: 1.4;
}


/* === Main.js === */


/* ===== Specials ===== */


#weekSpecial {
  /* padding-top: 100px; */
  width: 100%;
  justify-content: center;
  display: flex;
  /* flex-direction: column; */
}

.weekSpecialBox {
  max-width: 844px;
  width: 100%;
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 2.6rem;
}

.weekSpecialBox .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weekSpecialBox .content .row {
  display: flex;
  column-gap: .2rem;
}

.weekSpecialBox .content .row .column {
  flex: 1;
}

.weekSpecialBox .content .card {
  width: 258px;
  min-height: 420px;
  border-radius: 16px 16px 0 0;
  background-color: #d9d9d9;
}

.weekSpecialBox .content .card .cardImage {
  width: 258px;
}

/* ===== Card ===== */


/* .container-card {
  padding: 2px 16px;
  border-radius: 5px;
  background-color: rgb(237, 239, 238);
} */

p.price {
  color: orange;
  font-weight: bold;
}

p.orderDel {
  font-weight: bold;
  cursor: pointer;
}


/* ===== Testimonials ===== */


#testimonials {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(73, 94, 87);
  padding: 50px;
  /* max-width: 844px; */
}

.testContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 6rem 0;
  row-gap: 2.6rem;
}

.testContainer h1 {
  color: rgb(244, 206, 20);
  font-weight: 500;
  text-align: center;
}

.testContainer .row {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.2rem;
}

.testContainer .row .col {
  flex: 1;
}

.testContainer .row .col .card {
  background-color: #d9d9d9;
  border-radius: 16px;
  padding: 2.2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 0.8rem;
}


.testContainer .row .col .card .person {
  font-weight: bold;
}


/* ===== History ===== */


#history {
  width: 100%;
  display: flex;
  justify-content: center;
}

.history_section {
  max-width: 844px;
  width: 100%;
  padding: 6rem 0;
}

.history_section .row {
  display: flex;
  justify-content: flex-start;
}

.history_section .row .col {
  flex: 1;
}

.words {
  padding: 100px 100px;
  margin-right: 100px;
  /* padding-left: 20px; */
  text-align: left;
}

.wordsTwo {
  margin-right: 200px;
}

.owners {
  padding: 10px;
}


/* ===== Footer ===== */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(237, 239, 238);
  padding-left: 100px;
  bottom: 0;
  position: relative;
}

footer .footer_logo {
  max-width: 844px;
  width: 100%;
  display: flex;
  align-items: flex-start;

  /* opacity: .5; */
  /* background-color: #49SE57; */
}

footer li {
  list-style-type: none;
  align-items: right;
}




